Repository icsharpcode/SharpZipLib, pull requests merged in 2018-07, with the labels that each got.

#226 Fixes issue #164 by not accessing stream position to determine central…
  src/ICSharpCode.SharpZipLib/Zip/ZipHelperStream.cs
Labels: ready, zip

#233 Fix infinite loop on bad literal data (Issue #229)
  src/ICSharpCode.SharpZipLib/Zip/Compression/InflaterDynHeader.cs
  src/ICSharpCode.SharpZipLib/Zip/Compression/Streams/InflaterInputStream.cs
  src/ICSharpCode.SharpZipLib/Zip/Compression/Streams/StreamManipulator.cs
Labels: ready, zip

#240 Add support for POSIX Extended Headers
  src/ICSharpCode.SharpZipLib/Tar/TarExtendedHeaderReader.cs
  src/ICSharpCode.SharpZipLib/Tar/TarInputStream.cs
  test/ICSharpCode.SharpZipLib.Tests/Tar/TarTests.cs
Labels: ready, tar

#241 Fix Gzip.Compress arguments
  src/ICSharpCode.SharpZipLib/GZip/GZip.cs
  src/ICSharpCode.SharpZipLib/GZip/GzipOutputStream.cs
Labels: ready

#202 Convert crc checking to use ArraySegment for parameter validation.
  src/ICSharpCode.SharpZipLib/Checksum/Adler32.cs
  src/ICSharpCode.SharpZipLib/Checksum/BZip2Crc.cs
  src/ICSharpCode.SharpZipLib/Checksum/Crc32.cs
  src/ICSharpCode.SharpZipLib/Checksum/IChecksum.cs
  src/ICSharpCode.SharpZipLib/GZip/GzipInputStream.cs
  src/ICSharpCode.SharpZipLib/GZip/GzipOutputStream.cs
  src/ICSharpCode.SharpZipLib/Zip/Compression/DeflaterEngine.cs
  src/ICSharpCode.SharpZipLib/Zip/Compression/Inflater.cs
  src/ICSharpCode.SharpZipLib/Zip/ZipFile.cs
  src/ICSharpCode.SharpZipLib/Zip/ZipInputStream.cs
  src/ICSharpCode.SharpZipLib/Zip/ZipOutputStream.cs
  test/ICSharpCode.SharpZipLib.Tests/Checksum/ChecksumTests.cs
  test/ICSharpCode.SharpZipLib.Tests/Zip/GeneralHandling.cs
  test/ICSharpCode.SharpZipLib.Tests/Zip/ZipTests.cs
Labels: ready

#245 Attempt to read two end blocks when reading tararchive (Fixes #213)
  src/ICSharpCode.SharpZipLib/Tar/TarInputStream.cs
  test/ICSharpCode.SharpZipLib.Tests/Tar/TarTests.cs
  test/ICSharpCode.SharpZipLib.Tests/TestSupport/Utils.cs
Labels: ready, tar

#248 Add generic decoding exception classes
  src/ICSharpCode.SharpZipLib/Core/Exceptions/SharpZipBaseException.cs
  src/ICSharpCode.SharpZipLib/Core/Exceptions/StreamDecodingException.cs
  src/ICSharpCode.SharpZipLib/Core/Exceptions/StreamUnsupportedException.cs
  src/ICSharpCode.SharpZipLib/Core/Exceptions/UnexpectedEndOfStreamException.cs
  src/ICSharpCode.SharpZipLib/Core/Exceptions/ValueOutOfRangeException.cs
Labels: core, ready

#249 Update Inflater dynamic header reader to support partial reads
  src/ICSharpCode.SharpZipLib/Zip/Compression/Inflater.cs
  src/ICSharpCode.SharpZipLib/Zip/Compression/InflaterDynHeader.cs
  src/ICSharpCode.SharpZipLib/Zip/Compression/InflaterHuffmanTree.cs
  src/ICSharpCode.SharpZipLib/Zip/Compression/Streams/StreamManipulator.cs
Labels: ready, zip

#255 Correctly handle Unicode strings
  src/ICSharpCode.SharpZipLib/Zip/ZipConstants.cs
  src/ICSharpCode.SharpZipLib/Zip/ZipEntry.cs
  src/ICSharpCode.SharpZipLib/Zip/ZipEntryFactory.cs
  src/ICSharpCode.SharpZipLib/Zip/ZipOutputStream.cs
  src/ICSharpCode.SharpZipLib/Zip/ZipStrings.cs
  test/ICSharpCode.SharpZipLib.Tests/TestSupport/StringTesting.cs
  test/ICSharpCode.SharpZipLib.Tests/TestSupport/Utils.cs
  test/ICSharpCode.SharpZipLib.Tests/Zip/FastZipHandling.cs
  test/ICSharpCode.SharpZipLib.Tests/Zip/GeneralHandling.cs
  test/ICSharpCode.SharpZipLib.Tests/Zip/ZipFileHandling.cs
Labels: ready, zip
