Repository icsharpcode/SharpZipLib, pull requests merged in 2020-06, with the labels that each got.

#463 Improve support for Unix timestamps in ZIP archives
  src/ICSharpCode.SharpZipLib/Zip/ZipEntry.cs
  test/ICSharpCode.SharpZipLib.Tests/Zip/ZipEntryHandling.cs
Labels: zip

#465 Fixed bug in ZipAESStream.ReadBufferedData.
  src/ICSharpCode.SharpZipLib/Encryption/ZipAESStream.cs
Labels: bug, zip

#453 Fix the 7-zip interop tests in the .Net 4.6 test build
  test/ICSharpCode.SharpZipLib.Tests/Zip/ZipEncryptionHandling.cs
Labels: tests

#448 Fix some unit test asserts
  test/ICSharpCode.SharpZipLib.Tests/BZip2/Bzip2Tests.cs
  test/ICSharpCode.SharpZipLib.Tests/Tar/TarTests.cs
  test/ICSharpCode.SharpZipLib.Tests/Zip/StreamHandling.cs
Labels: tests

#450 Fix CA1200 code analyzer warnings
  src/ICSharpCode.SharpZipLib/Core/NameFilter.cs
  src/ICSharpCode.SharpZipLib/Zip/ZipFile.cs
Labels: build
